body {
  margin: 0 auto;
}

.show {
  width: 100%;
}
.show .apple {
  position: absolute;
  width: 1440px;
  height: 772px;
}

.pinpons {
  width: 1314px;
  height: 590px;
  position: absolute;
  margin-left: 63px;
  margin-top: 41px;
}
.pinpons .redball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  transition: all 2s linear;
  z-index: -1;
  left:-42px;
}
.pinpons .purpleball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7c0c7c;
  position: absolute;
  transition: all 2s linear;
  z-index: -1;
  left:-42px;
}
.pinpons .greenball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  transition: all 2s linear;
  z-index: -1;
  left:-42px;
}
.pinpons .akuaball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: aquamarine;
  position: absolute;
  transition: all 2s linear;
  z-index: -1;
  left:-42px;
}
.pinpons .yellowball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(250, 255, 0);
  position: absolute;
  transition: all 2s linear;
  z-index: -1;
  left:-42px;
}
.pinpons .goldball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #9b721a;
  position: absolute;
  transition: all 2s linear;
  z-index: -1;
  left:-42px;
}
.pinpons .blackball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  z-index: -1;
  left:-42px;
  transition: all 2s linear;
}
.pinpons .blueball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2644ec;
  position: absolute;
  z-index: -1;
  left:-42px;
  transition: all 2s linear;
}

.black1 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: rgba(15, 15, 15, 0.979);
  margin-top: 683px;
  margin-left: 200px;
  z-index: 1;
}

.black2 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: rgba(15, 15, 15, 0.979);
  margin-left: 420px;
  margin-top: 683px;
}

.black3 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: rgba(15, 15, 15, 0.979);
  margin-left: 936px;
  margin-top: 683px;
}

.black4 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: rgba(15, 15, 15, 0.979);
  margin-left: 1155px;
  margin-top: 683px;
}
